
.categories{

  &_header {
    width:700px;
    margin:50px auto;
    background-color: white;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    > h2 {
      text-align: center;
      padding:10px;
      font-size:20px;
      background-color: lightseagreen;
      color:white;
    }
    &-category {
        padding:20px 30px;
      > a {
        text-decoration: none;
        display: inline-block;
        color: orange;
        cursor: pointer;
        margin:5px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &_index {
    &-category {
      > h2 {
        background-color: red;
        > a {
          text-decoration: none;
          color:white;
          &:hover {
            color:orange;
            text-decoration: underline;
          }
        }
      }
      &-child {
        text-align: center;
        margin-top:20px;
        > p {
          border-bottom:3px solid lightgrey;
          > a {
           margin:20px;
           text-decoration: none;
           color: black;
            &:hover {
              color:orange;
            }
          }
        }
      }
    }
  }

}