
.devise_common {
    display: flex;
    border:5px groove;
    justify-content: space-around;
    padding:80px;
    margin:60px;
    background-color: white;
  &-title {
    > h2 {
      font-size: 50px;
      margin-bottom:30px;
    }
  }
  > form {
      @include position_center;
      flex-direction: column;
      width:50%;
    & .field {
        width:100%;
      & input,textarea {
        width:100%;
        font-size:20px;
        padding:10px;
        margin-bottom: 30px;
      }
     &-image {
         margin-bottom:50px;
         @include position_center;
         flex-direction: column;
       > label{
            @include image_base_size;
            border:3px dotted;
          &:hover {
            color:red;
          }
       }
       & input {
          display: none;
        }
      }
    }
    & input[type="submit"] {
      border: none;
      background-color: lightskyblue;
      border-radius: 50px;
      font-size:20px;
      padding:10px 30px;
    }
  }
}

#error_explanation {
  background-color: red;
  color:white;
  padding:10px;
}
