
.user-icon
  .user-icon__top
    .figre
      = image_tag src="icon/member_photo_noimage_thumb.png",class:"figre__img",size: "60x60"
    %h2.name
      = current_user.nickname
    .number
      .number__left
        %p.text 評価
        %p.count= current_user.evaluates.count
      .number__right 
        %p.text 出品数
        %p.count= current_user.items.count
.user-notice
  %ul.user-notice__tab
    %li.user-notice__tab__left
      %h3
        %p お知らせ
    -# %li.user-notice__tab__right
    -#   %h3
    -#     %p やることリスト
  .tab-contents
    %ul.tab-contents__left
      %li
        現在、お知らせはありません

.user-notice
  %h2.user-notice__title
    購入した商品
  %ul.user-notice__tab
    %li.user-notice__tab__left
      %h3
        %p 取引中
    %li.user-noticeo__tab__right
      %h3
        %p 過去の取引
  .tab-contents
    %ul.tab-contents__left
      %li
        取引中の商品がありません
