
.exhibition {
  bottom:50px;
  right:50px;
  position: fixed;
  height:150px;
  width:150px;
  > a {
    display: block;
    background-color:lightseagreen;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    text-decoration: none;
    &:hover {
      background-color: orange;
    }
    > i {
      font-size:80px;
    }
  }
}

#scroll_to_top {
  bottom:50px;
  left:50px;
  position: fixed;
  height:150px;
  width:150px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color:white;
  cursor: pointer;
  &:hover {
    background-color: orange;
  }
  > i {
    font-size:80px;
  }
}