
.api_cards{

  &_new {
    width: 100%;
    min-height:550px;
    background-color: white;
    .add_credit_btn {
      max-width: 320px;
      margin: 0 auto;
      padding:20px;
      a {
        text-decoration: none;
        background: #3CCACE;
        border: 1px solid #3CCACE;
        color: #fff;
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        text-align: center;
      }
    }
    > h2 {
      text-align: center;
      font-size:20px;
      padding:10px;
      border-bottom: 1px solid lightgray;
    }
    > form {
      width:400px;
      margin:0 auto;
      > div {
          display: flex;
          margin-top: 30px;
        > h3 {
          margin-right:20px;
        }
        > p {
          background-color: red;
          color:white;
          padding:0 5px;
          border-radius: 5px;
        }
      }
      > ul {
        display: flex;
        & img {
          width:40px;
          height:40px;
          margin:0 5px;
        }
      }
      & input {
        width:100%;
        padding:10px;
        margin: 10px;
      }
      & select {
        width:35%;
        height:40px;
        margin:10px;
        padding:0 10px;
        vertical-align: middle;
        > option {
          text-align: start;
        }
      }
      & input[type="submit"] {
        margin:50px 0;
        background-color: orangered;
        color:white;
        border:none;
        padding:10px 0;
      }
    }
  }
 

}