
.homes_index
  .homes_index-top
    .homes_index-top-content
      = image_tag "logo.png"
      = render 'layouts/nav'
    = video_tag "/videos/top.mp4", type: "video/mp4", autoplay: true, loop: true, muted: true
  %p Copyright &copy; Master Page 2020 all rights reserved.
