
.users{

  &_index {
    & * {
      color:white;
    }
    &-top {
        @include position_center;
        flex-direction: column;
        background-image: image-url("top.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin:0 auto;
        height:35vw;
        width:70vw;
      > h2,h3{
        background-color: white;
        padding:0 10px;
        border:none;
        color:black;
        margin:20px;
      }
      > h2 {
        font-size:30px;
      }
    }
    &-main {
        height: 1600px;
        background-color: $header_back_color;
        display: flex;
      &-left {
        border:1px solid white;
        display:inline-block;
        width:20vw;
        overflow: scroll;
        > h2 {
          text-align: center;
          border:1px solid white;
          padding:10px;
          margin:0;
        }
        > details {
          border: 1px solid white;
          padding:10px;
          & ul {
            list-style:square;
            padding-left: 15px;
          }
        }
      }
      &-right {
          border:1px solid white;
          width:80vw;
        & h2 {
          text-align: center;
          font-size:40px;
          margin:20px;
        }
        &-about,&-contact {
           border:1px solid white;
           padding:40px;
           > p {
             text-align: center;
           }
           > form {
            display: flex;
            flex-direction: column;
            padding:30px;
            & input[type="text"],textarea {
              background-color: white;
              width:80%;
              font-size:20px;
              color: black;
              padding:10px;
              margin:20px auto;
            }
            & input[type="submit"] {
              border:none;
              background-color: lightskyblue;
              border-radius: 20px;
              color:black;
              font-size: 20px;
              padding:10px 30px;
              margin:30px auto;
              width:20%;
            }
          }
           
        }
        &-comment {
          padding-bottom:20px;
          &-board {
            border:1px solid white;
            height:20vw;
            width:80%;
            margin:0 auto;
            overflow: scroll;
            &-content {
              border: 1px dashed;
              padding:10px 20px;
            }
         }
        }
      }
    }
  }

 

}
