.search-result{
  display: block;
  height: 100%;
  .side_bar{
    display: block;
    float: left;
    width: 280px;
    margin: 0 20px 0 0;
    &__top{ 
      select{
        width: 100%;
        height: 48px;
        margin: 0 auto;
        line-height: 48px;
        text-align: left;
        border: 1px solid #ccc;
        background: #fff;
      }
    }
    &__bottom{
      margin: 40px 0 0;
      background: #fff;
      width: auto;
      padding: 16px;
      .form-group{
        margin: 24px 0 0;
        label{
          display: flex;
        }
      }
    }
  }
  .main{ 
    background: #f8f8f8;
    float: right;
    width: 700px;
    h2{
      font-size: 22px;
      margin: 0 0 8px;
    }
    ul.items{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      li.item:nth-child(4n){
        margin-right: 0px;
      }
      li.item{
        width: 160px;
        height: 200px;
        margin: 0 20px 20px 0;
        .item_box{
          width: 160px;
          height: 160px;
          background-color: #ffffff;
          position: relative;
          .item_image{
            max-width: 160px;
            max-height: 160px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          .item_price{
            text-align: center;
            background: rgba(0, 0, 0, 0.4);
            border-radius: 0 14px 14px 0;
            bottom: 10px;
            box-sizing: border-box;
            color: #fff;
            font-size: 14px;
            height: 22px;
            line-height: 22px;
            letter-spacing: 0.03em;
            margin: 0;
            padding: 0 12px;
            position: absolute;
          }
        }
        .item_info{
          background: #ffffff;
          height: 40px;
          padding: 0px 16px;
          h3 {
            line-height: 40px;
            font-size: 13px;
            text-align: left;
            color: black;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
.purchase {
  &__btn {
    width: 120px;
    background: #3ccace;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    .text {
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    .image {
      width: 60%;
      vertical-align: bottom;
    }
  }
}
